<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../../public/css/sign.css"/>
        <title>LmS2_signup</title>
    </head>
    <body>
        <div clas="navigationbar">
        </div>
        <div class="box">
            <input type="text" name="username" value="이름">
            <input type="text" name="id" value="아이디">
            <input type="text" name="password" value="비밀번호">
            <input type="text" name="checkpass" value="비밀번호 확인">
            <input type="text" name="email" value="이메일">
            <input type="button" name="checkemail" value="인증코드 전송">
            <input type="buttom" name="nextbut" value="회원가입">
        </div>
    </body>

</html>