<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../../public/css/sign.css/sign1.css"/>
        <title>LmS2_signup</title>
    </head>
    <body>
        <div class="title">
        Look<br> My Shedule<br> To LMS</div>
        <div class="content">
            LmS2에 어서오세요<br>
            우리 LMS2에서는 캐릭터를 양성할 수 있어요.<br>
            하루의 목표를 설정하고 달성하여, 나만의 캐릭터를<br>
            가꾸어 보세요. 분명 좋은 결과가 있을 것이에요.<br><br>

            기존 LMS와 연동하여 과제, 영상 강의 등 교과목의<br>
            어쩌구를 할 수 있어요~<br>
            등의 서비스 소개<br>
        </div>
        <div class="box">
            <input type="text" name="username" value="이름" class="username">
            <input type="text" name="id" value="아이디" class="id">
            <input type="text" name="password" value="비밀번호" class="password">
            <input type="text" name="checkpass" value="비밀번호 확인" class="checkemail">
            <input type="text" name="email" value="이메일" class="email">
            <input type="button" name="checkemail" value="인증코드 전송" class="checkmail">
            <input type="button" name="nextbut" value="회원가입" class="nextbut">
        </div>
    </body>

</html>