<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/dictionary.css"/>
        <title>LmS2_dictionary</title>
    </head>
    <body> 
        <div class="title">Lassi도감</div>
        <div class="study">
            <div class="name">공부</div>
            <div class="chac">
                <div class="level1">
                    <image src="https://github.com/hongyjin/SODCREAM/blob/master/asset/%EC%9D%98%EC%9A%95%EB%A7%8C%EB%95%85%20%EB%AA%A8%EB%B2%94%EC%83%9D.png?raw=true" 
                        style="width:278px; height:292px;"></image>
                    <div class="nickname">열심히 하는 공부의 신</div>
                </div>
                <div class="level1">
                    <div class="nickname">???</div>
                </div>
                <div class="level1">
                    <div class="nickname">???</div>
                </div>
            </div>
            
        </div>
        <div class="health">
            <div class="name">건강</div>
            <div class="chac">
                <div class="level2">
                    <image src="https://github.com/hongyjin/SODCREAM/blob/master/asset/%EB%8B%AC%EB%A0%A4%EB%9D%BC%20%EB%9D%BC%EC%94%A8.png?raw=true" 
                        style="width:278px; height:292px;"></image>
                    <div class="nickname">열심히 하는 건강의 신</div>
                </div>
                <div class="level2">
                    <div class="nickname">???</div>
                </div>
                <div class="level2">
                    <div class="nickname">???</div>
                </div>
            </div>
        </div>
        <div class="develop">
            <div class="name">자기계발</div>
            <div class="chac">
                <div class="level3">
                    <image src="https://github.com/hongyjin/SODCREAM/blob/master/asset/%EB%82%98%EB%A5%BC%20%EC%84%A4%EA%B3%84%20%EC%A4%91.png?raw=true" 
                        style="width:278px; height:292px;"></image>
                    <div class="nickname">열심히 하는 계발의 신</div>
                </div>
                <div class="level3">
                    <div class="nickname">???</div>
                </div>
                <div class="level3">
                    <div class="nickname">???</div>
                </div>
            </div>
        </div>
        <div class="work">
            <div class="name">업무</div>
            <div class="chac">
                <div class="level4">
                    <image src="https://github.com/hongyjin/SODCREAM/blob/master/asset/%EA%B7%BC%EC%8B%AC%20%EA%B0%80%EB%93%9D%20%EC%82%AC%ED%9A%8C%EC%B4%88%EB%85%84%EC%83%9D.png?raw=true" 
                        style="width:278px; height:292px;"></image>
                    <div class="nickname">열심히 하는 업무의 신</div>
                </div>
                <div class="level4">
                    <div class="nickname">???</div>
                </div>
                <div class="level4">
                    <div class="nickname">???</div>
                </div>
            </div>
        </div>
        <button id="popupButton">나의 TO-DO 업적보기</button>
  <div id="popup" class="popup">
    <div class="popup-content">
      <span class="close" id="closeButton">&times;</span>
      <p>
        <image src="https://github.com/hongyjin/SODCREAM/blob/master/asset/Lassi_Img.png?raw=true" 
            style="width: 330px; height: 420px; flex-shrink: 0; margin-left:88px; margin-top:90px";></image>
        <div class="popuptitle">나의 TO-DO 업적</div>
        <div class="worked"></div>
     </p>
    </div>
  </div>
  <script src="../../public/js/script.js"></script>


        <div class="info">
            잔디크림<br>
            홍유진 | 양재연 | 이지윤<br>
            simplehuj@naver.com<br>     
            성신여자대학교 컴퓨터공학과 소프트웨어경진대회 출품작
        </div>
    </body>
</html>