<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 브라우저 기본 스타일을 reset합니다 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <!-- index.html 페이지에 적용할 스타일시트로 main.css로 연결합니다 -->
    <link rel="stylesheet" href="/css/header.css" />

    <title>LmS2</title>
</head>

<body>
    <div class="navBar">
        <a href="/Home">
            <div class="logo">
                <img src="https://github.com/hongyjin/SODCREAM/blob/master/asset/Logo3.2_header.png?raw=true"
                    width="113px" height="64px">
            </div>
        </a>
    </div>
</body>

</html>