<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../../public/css/login1.css"/>
        <title>LmS2_Login</title> 
    </head>
    <body>
        <div class="background">
            <div class="box">
                <img src="https://ibb.co/N9sKBfW"> <br>
                <input type="text" name="id" value="   아이디를 입력하세요" class="id"> 
                <input type="text" name="password" value="   비밀번호를 입력하세요" class="password">
                <input type="button" name="login" value="로그인" class="loginbut">
                <div class="question">LMS2가 처음이신가요? 
                <div class="answer">회원가입</div>
            </div>
            </div>
        </div>
    </body>
</html>