<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/closet.css"/>
        <title>LmS2_closet</title>
    </head>
    <body>
        <%- include('header.ejs') %>
        <div class="title">Lassi's 옷장</div>
        <div class="name">
            
        </div>
        <div class="content">
        </div>
        <div class="closetbox">   
            <div class="close1">
                <image src="https://github.com/hongyjin/SODCREAM/blob/master/asset/ARM1(default).png?raw=true"
                style="width: 175px; height:230px;"></image>
                <div class="coin">10 Coin</div>
            </div>   
            <div class="close1">
                <image src="https://github.com/hongyjin/SODCREAM/blob/master/asset/ARM2.png?raw=true"
                style="width: 175px; height:230px;"></image>
                <div class="coin">10 Coin</div>
            </div>
            <div class="close1">
                <image src="https://github.com/hongyjin/SODCREAM/blob/master/asset/ARM3.png?raw=true"
                style="width: 175px; height:230px;"></image>
                <div class="coin">10 Coin</div>
            </div>
            <div class="close1">
                <image src="https://github.com/hongyjin/SODCREAM/blob/master/asset/ARM4.png?raw=true"
                style="width: 175px; height:230px;"></image>
                <div class="coin">10 Coin</div>
            </div>
            <div class="close1">
                <image src="https://github.com/hongyjin/SODCREAM/blob/master/asset/ARM5.png?raw=true"
                style="width: 175px; height:230px;"></image>
                <div class="coin">10 Coin</div>
            </div>
            <div class="close1">
                <image src="https://github.com/hongyjin/SODCREAM/blob/master/asset/ARM6.png?raw=true"
                style="width: 175px; height:230px;"></image>
                <div class="coin">10 Coin</div>
            </div>
            <div class="parent">
                <a href="/colorcloset">
                    <div class="closecategory1">색상</div>
                </a>
                <a href="/eyecloset">
                    <div class="closecategory2">눈</div>
                </a>
                <a href="/nosecloset">
                    <div class="closecategory3">코</div>
                </a>
                <a href="/mouthcloset">
                    <div class="closecategory4">입</div>
                </a>
                <a href="/haircloset">
                    <div class="closecategory5">머리</div>
                </a>
                <a href="/shoescloset">
                    <div class="closecategory6">팔</div>
                </a>
                <a href="/othercloset">
                    <div class="closecategory7">기타</div>
                </a>
             </div>  
        </div>
        <div class="lassisee">
            <image src="https://github.com/hongyjin/SODCREAM/blob/master/asset/Lassi_Img.png?raw=true"
            style="width: 430px; height: 530px; margin-left: 25px; margin-top:25px;"></image>
        </div>
        <input type="button" name="reset" value="초기화하기" class="reset">
        <input type="button" name="store" value="저장하기" class="store">
        <div class="info">
            잔디크림<br>
            홍유진 | 양재연 | 이지윤<br>
            simplehuj@naver.com<br>     
            성신여자대학교 컴퓨터공학과 소프트웨어경진대회 출품작
        </div>
    </body>

</html>