<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 브라우저 기본 스타일을 reset합니다 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <!-- index.html 페이지에 적용할 스타일시트로 main.css로 연결합니다 -->
    <link rel="stylesheet" href="/css/TODO.css" />
    <title>LmS2</title>
</head>

<body>
    <%- include('header.ejs') %>
    <div class="background">Look My<br>Schedule To LMS
    </div>
    
    <div id="title">TO-DO</div>

    <div class="calendar">
        <div class="header">
            <!-- <button class="nav-btn go-prev">&lt;</button> -->
            <span class="month-year"></span>
            <!-- <button class="nav-btn go-next">&gt;</button> -->
        </div>
        <div class="days"></div>
    </div>
    <script src="/js/date.js"></script>

    <div class="todayTodo">
        <div id="todoModal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <h2>할일 추가</h2>
              <input type="text" id="todoContent" placeholder="할일 내용">
              <input type="text" id="categoryName" placeholder="카테고리">
              <button id="saveTodoButton">저장</button>
            </div>
          </div>
          <div class="todolist">
            <ul>
                <% todos.forEach(todo => { %>
                    <li><%= todo.todoContent %></li>
                <% }); %>
            </ul>
          </div>
        <div id="addTodoButton">TO-DO 추가하기 +</div>
    </div>
    <script src="/js/todo.js"></script>
</body>
</html>