.title{
    color: var(--text-black, #333);

    /* title */
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -1.6px;

    margin-top:36px; margin-left: 360px;
}
.study{
    width: 1201px;
    height: 407px;

    border-radius: 30px;
    background: var(--text-white, #FFF);

    /* shadow_big */
    box-shadow: 0px 0px 30px 0px rgba(51, 51, 51, 0.25);

    margin-left: 360px; margin-top: 24px;
    display:flex;
}
.name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 407px;
    flex-shrink: 0;

    border-radius: 30px 0px 0px 30px;
    background: #E8493F;

    color: var(--text-white, #FFF);
    text-align: center;
    
    /* subTitle */
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.28px;
}
.health{
    width: 1201px;
    height: 407px;

    border-radius: 30px;
    background: var(--text-white, #FFF);

    /* shadow_big */
    box-shadow: 0px 0px 30px 0px rgba(51, 51, 51, 0.25);

    margin-left: 360px; margin-top: 24px;
    display:flex;
}
.develop{
    width: 1201px;
    height: 407px;

    border-radius: 30px;
    background: var(--text-white, #FFF);

    /* shadow_big */
    box-shadow: 0px 0px 30px 0px rgba(51, 51, 51, 0.25);

    margin-left: 360px; margin-top: 24px;
    display:flex;
}
.work{
    width: 1201px;
    height: 407px;

    border-radius: 30px;
    background: var(--text-white, #FFF);

    /* shadow_big */
    box-shadow: 0px 0px 30px 0px rgba(51, 51, 51, 0.25);

    margin-left: 360px; margin-top: 24px;
    display:flex;
}
.chac{
    display: inline-flex;
}
.level1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; /* 닉네임을 아래에 정렬 */
    width: 278px;
    height: 292px;
    flex-shrink: 0;

    border-radius: 29.668px;
    background: var(--status-yellow, #EDDA76);

    /* shadow_big */
    box-shadow: 0px 0px 30px 0px rgba(51, 51, 51, 0.25);

    margin-left: 36px;
    margin-top: 40px;
}
.nickname{
    margin-bottom: -40px; /* 닉네임 아래쪽 여백을 추가하여 끝에서 6px만큼 떨어진 상태로 설정 */
    color: var(--text-black, #333);

    /* menu */
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.96px;

    text-align: center; /* 가운데 정렬 */
}
.level2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; /* 닉네임을 아래에 정렬 */
    width: 278px;
    height: 292px;
    flex-shrink: 0;

    border-radius: 29.668px;
    background: var(--status-blue, #76A6ED);

    /* shadow_big */
    box-shadow: 0px 0px 30px 0px rgba(51, 51, 51, 0.25);

    margin-left: 36px; margin-top:40px;
}
.level3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; /* 닉네임을 아래에 정렬 */
    width: 278px;
    height: 292px;
    flex-shrink: 0;

    border-radius: 29.668px;
    background: var(--status-purple, #B976ED);

    /* shadow_big */
    box-shadow: 0px 0px 30px 0px rgba(51, 51, 51, 0.25);

    margin-left: 36px; margin-top:40px;
}
.level4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; /* 닉네임을 아래에 정렬 */
    width: 278px;
    height: 292px;
    flex-shrink: 0;

    border-radius: 29.668px;
    background: var(--status-green, #A3ED76);

    /* shadow_big */
    box-shadow: 0px 0px 30px 0px rgba(51, 51, 51, 0.25);

    margin-left: 36px; margin-top:40px;
}
.show{
    display: flex;
    width: 1200px;
    height: 96px;
    padding: 29px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 30px;
    background: var(--primary-dark-pink, #ED7D76);

    color: var(--text-white, #FFF);
    text-align: center;

    /* subTitle */
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.28px;

    margin-top:24px; margin-left:360px; margin-bottom: 40px;
}
.info{
    display: flex;
    height: 180px;
    padding: 50px 0px;
    justify-content: center;
    align-items: center;

    background: #333;

    display: flex;
    flex-direction: column;
    gap: 4px;

    color: #FFF;
    text-align: center;

    /* caption */
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
}