#todayTodo-container {
    background-color: aqua;
    margin: auto;
    height: 500px;
    width: 501px;
}

#gotoTodo-btn {
    background-color: #E8493F;
    font-size: 15px;
    color: #FFF;
    width: 1200px;
    height: 96px;
    text-align: center;
    line-height: 96px;
    border-radius: 30px;
    margin: 24px auto;
    font-family: Pretendard;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -1.28px;
}