<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../public/css/closet.css"/>
        <title>LmS2_closet</title>
    </head>
    <body>
        <div class="title">Lassi's 옷장</div>
        <div class="name">
            
        </div>
        <div class="content">
        </div>
        <div class="closetbox">   
        <div class="close1"></div>   
            <div class="parent">
                <div class="closecategory1">색상</div>
                <div class="closecategory2">눈</div>
                <div class="closecategory3">코</div>
                <div class="closecategory4">입</div>
                <div class="closecategory5">머리</div>
                <div class="closecategory6">신발</div>
                <div class="closecategory7">기타</div>
             </div>  
        </div>
        <div class="lassisee"></div>
        <input type="button" name="reset" value="초기화하기" class="reset">
        <input type="button" name="store" value="저장하기" class="store">
        <div class="info">
            잔디크림<br>
            홍유진 | 양재연 | 이지윤<br>
            simplehuj@naver.com<br>     
            성신여자대학교 컴퓨터공학과 소프트웨어경진대회 출품작
        </div>
    </body>

</html>