<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../public/css/dictionary.css"/>
        <title>LmS2_dictionary</title>
    </head>
    <body> 
        <div class="title">Lassi도감</div>
        <div class="study">
            <div class="name">공부</div>
            <div class="chac">
                <div class="level1">
                    <div class="nickname">열심히 하는 공부의 신</div>
                </div>
                <div class="level1">
                    <div class="nickname">???</div>
                </div>
                <div class="level1">
                    <div class="nickname">???</div>
                </div>
            </div>
            
        </div>
        <div class="health">
            <div class="name">건강</div>
            <div class="chac">
                <div class="level2">
                    <div class="nickname">열심히 하는 공부의 신</div>
                </div>
                <div class="level2">
                    <div class="nickname">???</div>
                </div>
                <div class="level2">
                    <div class="nickname">???</div>
                </div>
            </div>
        </div>
        <div class="develop">
            <div class="name">자기계발</div>
            <div class="chac">
                <div class="level3">
                    <div class="nickname">열심히 하는 공부의 신</div>
                </div>
                <div class="level3">
                    <div class="nickname">???</div>
                </div>
                <div class="level3">
                    <div class="nickname">???</div>
                </div>
            </div>
        </div>
        <div class="work">
            <div class="name">업무</div>
            <div class="chac">
                <div class="level4">
                    <div class="nickname">열심히 하는 공부의 신</div>
                </div>
                <div class="level4">
                    <div class="nickname">???</div>
                </div>
                <div class="level4">
                    <div class="nickname">???</div>
                </div>
            </div>
        </div>
        <div class="show">나의 TO-DO 업적보기</div>
        <div class="info">
            잔디크림<br>
            홍유진 | 양재연 | 이지윤<br>
            simplehuj@naver.com<br>     
            성신여자대학교 컴퓨터공학과 소프트웨어경진대회 출품작
        </div>
    </body>
</html>