<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 브라우저 기본 스타일을 reset합니다 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <!-- index.html 페이지에 적용할 스타일시트로 main.css로 연결합니다 -->
    <link rel="stylesheet" href="../../public/css/TODO.css" />
    <title>LmS2</title>
</head>

<body>
    <div class="navBar"></div>
    <div class="background">LOOK MY</div>
    
    <div class="sec_cal">
        <div class="cal_nav">
          <a href="javascript:;" class="nav-btn go-prev">prev</a>
          <div class="year-month"></div>
          <a href="javascript:;" class="nav-btn go-next">next</a>
        </div>

        <div class="cal_wrap">
          <div class="days">
            <div class="day">MON</div>
            <div class="day">TUE</div>
            <div class="day">WED</div>
            <div class="day">THU</div>
            <div class="day">FRI</div>
            <div class="day">SAT</div>
            <div class="day">SUN</div>
          </div>
          <div class="dates"></div>
        </div>
      </div>
</body>
</html>